*::-webkit-scrollbar{
    width: 10px;
    
    
}

*::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb{
    background-color: purple ;
    border-radius: 16px;
    border: 3px solid white;
}